.main-container {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-bottom: 120px;
  width: 1360px; */
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .main-container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center
  }
}