.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(50, 47, 40, 0.7);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 999;
}

.body {
  position: relative;
  max-width: 1360px;
  max-height: 947px;
  background: #ffffff;
  border-radius: 12px;
  padding: 45px 40px 60px;
  width: 85%;
  overflow: hidden;
  display:flex;
  flex-direction: column
  
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smile {
  font-size: 48px;
  line-height: 56px;
  margin-right: 20px;
}

.modal-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
}

.text {
  display: block;
  grid-area: column;
}

.textarea {
  /* width: 740px; */
  width: 100%;
  height: 100%;
  color: #1e2022;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  grid-area: header;
}

dialog .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #1e2022;
}

dialog .data {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;

  /* text */

  color: #1e2022;
}

.image {
  display: block;
  border-radius: 12px;
  height: 750px;
  overflow: hidden;
  grid-area: img;
}

.img {
  width: 100%;
  height: 100%;
}

.closeIcon {
  position: absolute;
  right: 18.5px;
  top: 18.5px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .body {
    grid-template-columns: 410px 1fr
  }
}

@media screen and (max-width: 1024px) {
  .body {
    display: flex;
    flex-direction: column;
  }
  .image {
    max-width: 381px;
    height: 254px;
    margin-bottom: 25px;
  }

  .body {
    overflow-y: auto;
  }

  .body {
    max-width: 864px;
    max-height: 924px;
  }
  .text {
    height: 342px;
  }

  .title {
    font-size: 36px;
    line-height: 42px;
  }

  .data {
    font-size: 18px;
    line-height: 21px;
  }

  .smile {
    font-size: 36px;
  }

  .textarea {
    font-size: 16px;
    line-height: 19px;
  }
}


@media screen and (max-width: 645px) {
  .body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .image {
    order: -1;
    max-width: 100%;
    min-height: 214px;
  }

  .image__preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 214px;
  }
  .data {
    margin-top: 9px;
  }

  .close-icon {
    top: 35%;
  }
  .smile {
    font-size: 20px;
    margin: 0;
  }
}

@media screen and (max-width: 455px) {
  .title {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    margin-left: 12px;
  }

  .data {
    font-size: 12px;
    line-height: 14px;
    margin-left: 50px;
  }

  .text {
    font-size: 16px;
    line-height: 19px;
  }
}
