.image {
  width: 100%;
  height: 100%;
}

.block {
  position: relative;
  max-width: 325px;
  height: 150px;
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.text {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  padding: 14px 12px;
  border-radius: 12px;
  position: absolute;
  z-index: 19;
  bottom: 0;
  max-height: 300px;
  width: 100%;
}

.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #1E2022;
}

.date {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */


  /* text */

  color: #1E2022;
}

.description {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 9px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 14px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.8);;
  backdrop-filter: blur(10px);
  border-radius: 25px;
}


@media screen and (max-width: 1024px) {
  .block {
    max-width: 422px;
  }
}

@media screen and (max-width: 600px) {
  .block {
    max-width: 100%;
  }
}