*{
  letter-spacing:2px;

}

.App {
  display:flex;
  flex-direction:column;
  text-align: center;
 
  height:10%;
}

nav{
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  text-decoration: none;
  color:black;
}

/* .App Link {
  text-decoration: none;
  color:black;
}

.app Link:hover{
  color: rgb(255, 255, 203);
  text-transform: capitalize;
} */
