* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.homepage {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column
}



.homepage img {
    height:100px;
    width:500px;
    margin-bottom:2%;
    margin-top: 50px;
}
 .buttons {
     display:flex;
     margin-bottom:2%;
     gap:10px
 }
 .homepage button {
     height:40px;
     width:370px;
     border-radius:20px;
     cursor:pointer;
 }